[submodule "SubModules/main-repository"]
	path = SubModules/main-repository
	url = git@github.com:Inokuchi-Kazuyuki/main-repository
	branch = main
[submodule "SubTree/subtree-example"]
	path = SubTree/subtree-example
	url = git@github.com:Inokuchi-Kazuyuki/main-subtree-repository
