[submodule "SubModules/main-repository"]
	path = git-example/SubModules/main-repository
	url = git@github.com:Inokuchi-Kazuyuki/main-repository
	branch = main
[submodule "SubTree/subtree-example"]
	path = git-example/SubTree/subtree-example
	url = git@github.com:Inokuchi-Kazuyuki/main-subtree-repository
